[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
  path = ./.gitconfig.d/personal.gitconfig

[includeIf "hasconfig:remote.*.url:**github.com:basf-global/**"]
	path = ./.gitconfig.d/basf.gitconfig

[includeIf "hasconfig:remote.*.url:**gitlab.roqs.basf.net/**"]
	path = ./.gitconfig.d/basf.gitconfig
[pull]
	rebase = true
[advice]
	skippedCherryPicks = false
[credential "https://github.com"]
	helper = 
	helper = !/Users/jorgepulidolopez/.local/share/devbox/global/default/.devbox/nix/profile/default/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/jorgepulidolopez/.local/share/devbox/global/default/.devbox/nix/profile/default/bin/gh auth git-credential
